@media screen and (max-width:576px) {
    .wrapper {
        min-width: 516px;
    }

    .logos i {
        color: silver;
    }

    .logos i:hover {
        color: #16595A;
        font-weight: 600;
    }

    .header-nav-menu {
        position: absolute;
        width: 100%;
        background: rgb(235, 228, 228);
        left: 100%;
        flex-direction: column;
        height: 93vh;
        top: 93px;
        transition: top 1500ms;
        row-gap: 25px;
        padding: 53px;
        z-index: 10;
    }

    .header-nav-menu a {
        color: black;
        font-weight: 700;
    }

    .active.header-nav-menu {
        top: 0;
    }

    .mobile-button {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}