@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&display=swap');
body{
    margin: 0;
    padding: 0; 
    
    box-sizing: border-box; 
    
    font-family: 'Montserrat Subrayada',
    sans-serif; 
    background: radial-gradient(white, #3298f2);
}
.d-flex{
    display: flex;
} 
.border{
    border-bottom: 1px solid #3298f2 ;
} 
.color-dark{
    color: #292929;
} 
.orange{
    color:#ff9638 ;
} 
.blue{
    color:#3298f2 ;
} 
.btn{
    padding: 0 35px; 
    height: 61px;
} 
.border-arrow{
    border-radius: 50%;
} 
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.uppercase{
    text-transform: uppercase;
}
.wrapper{ 
    max-width: 1410px;
    margin: 0 auto;
}
.header{
background-color: #f9f9f9;  
padding: 25px 0 0 0;
} 
.header-top{
    text-align: center; 
    align-items: center;

    height: 92px;
}
.header-nav-wrap{
    column-gap: 103px;
} 
.header-nav{
 align-items: center; 
 column-gap: 50px;
}
.nav-item a{
    text-decoration: none; 

    font-size: 16px;
    font-weight: 500;
    line-height: 20px;

    text-transform: uppercase; 

} 
.header-btn{

    border: 2px solid #3298f2;
    box-sizing: border-box;
    border-radius: 6px; 

    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    
    
    align-items: center;
    text-align: center; 
    
    color:#3298f2;
}
 .header-btn button{
    width: 309px;
    height: 61px;
}
.first-screen{ 
    display: flex; 
    justify-content: space-between;
    padding: 93px 0px 156px 243px; 
    position: relative;
}  
.first-screen-left{
    max-width: 491px; 
    
}
.first-screen-left h3{
    font-weight: 900;
    font-size: 19px;
    line-height: 23px;
 
    text-transform: uppercase;
}
.first-screen-left h1{
    font-weight:900;
    font-size: 30px;
    line-height: 37px;
   
    text-transform: uppercase;
   
    color: #333333; 
   
    margin-top: 50px;
    margin-bottom: 60px ;
} 
.first-screen-left{
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    
    color: #333333;
}
.first-screen-left p:last-child{
    font-weight: bold;
    margin-top: 35px;
}
.first-screen-left-1{
    margin-top: 120px; 
   
    background: #ff9638;
   
    border-radius: 5px; 
    border: none; 

    font-weight: bold;
    cursor: pointer;

    position: relative; 
    overflow: hidden;
}
.first-screen-left-1::before{
    content: ''; 
    display: block;
    position: absolute; 
    width: 50px;
    height: 100%;
    background: white;
    top: 0;
    left: -100px; 
    transform: skew(30deg);
    filter: blur(15px); 
    animation: blick 2s infinite linear; 
    
}
@keyframes blick {
    from{left: 0;}
    to{
        left: 300px;
    }
}
.play-arrow{
    width: 156px;
    height: 156px;
    border: 1px solid #ff9638; 
    position: absolute; 
    left: 50%;
    transform: translateX(-50%); 
    bottom: 50px; 
    transform: translateY(-50%);
} 
.arrow{
    width: 96px;
    height: 96px; 
    border: 3px solid #ff9638;


}
.arrow-1{
    border: 3px solid #ff9638; 
    background: #c4c4c4; 
    width: 82px;
    height: 82px;
}
.arrow-1{
    font-size: 25px;
    color: white;
} 
.rigth-side{
    padding: 93px 243px 156px 0px;
    

}
.first-screen-rigth{
    display: block;
    justify-content: center;
    text-align: center; 
    float: right;  

    max-width: 491px; 
}   
.okten{
    width: 100%;
    height: 10px;
    font-size: 55px; 
}
.school{
    width: 100%;
    height: 10px;
    font-size: 55px;  
    color: white; 
    text-shadow:blue 0 0 2px;
}
.programming{
   margin-top: 100px;
   margin-right: -20px;
   width: 100%;
   height: 10px;
   font-size: 15px;


    /* width: 100%;
    font-size: 15px;  
    height: 10px;  */
}
.footer{
    width: 100%;
    height: 92px;
    background:#3298f2;
}